table, td, th, tr {
    border: 7px solid gray;
    border-collapse: collapse;
    padding: 12px;
    margin: 80px;
    color: whitesmoke;
    background-color: lightsalmon;
    font-size: 30px;
}

td:hover { background-color: #ffcc93;
    color: white;
}

caption {
    margin: 50px;
}

th { background-color: lightcoral;
    
}

table {
    width: 80%;
    margin: auto;
}

body {
    background-color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
